@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,500i,600i,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-svg-core@1.2.24/styles.css');

* {
  box-sizing: border-box;
}

body {
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
